In [1]:
import pandas as pd
import os
import json
with open('purchase_data.json') as json_file:  
    data = pd.read_json(json_file)


data_df=pd.DataFrame(data)
data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [2]:
with open('purchase_data.json') as json_file:  
    data = pd.read_json(json_file)

Dup_data_df=pd.DataFrame(data)
#data_df=data_df.drop_duplicates(keep=False)
Dup_data_df=Dup_data_df.drop_duplicates('SN')
#Player Count
NoOfPlayers=(Dup_data_df["SN"].count())
pd.DataFrame([{'Number of Players': NoOfPlayers}])

   Number of Players
0                573

In [5]:
#Purchasing Analysis (Total)

#pd.options.display.float_format = '${:,.2f}'.format

#Calculating Average Purchase Price
AveragePurchasePrice=data_df['Price'].mean()
AvgPrice=round(AveragePurchasePrice,2)

#AveragePurchasePrice
UniqueItems=(Dup_data_df["SN"].count())
#Calculating total number of purchases
TotalNumberofPurchases=data_df['Item Name'].count()

#Calculating total revenue
TotalRevenue=data_df['Price'].sum()
#TotalRevenue
OutputDisplay=[{'Number Of Unique Items':UniqueItems,'Average Purchase Price':AvgPrice,'Number of Purchases': TotalNumberofPurchases, 'Total Revenue':TotalRevenue}]

pd.DataFrame(OutputDisplay)

,Average Purchase Price,Number Of Unique Items,Number of Purchases,Total Revenue
0,2.93,573,780,2286.33

In [21]:
#Gender Demographics

Gendercal=Dup_data_df['Gender'].value_counts()
alepercent1=(Gendercal*100)/Dup_data_df['Gender'].count()
pd.options.display.float_format = '{:,.2f}'.format


GenderDemo1_df=pd.DataFrame({'Percent Of Players':alepercent1,'Total Count':Gendercal})
GenderDemo1_df

                       Percent Of Players  Total Count
Male                                81.15          465
Female                              17.45          100
Other / Non-Disclosed                1.40            8

In [30]:
#Purchasing Analysis (Gender)

grouped_Binned_Gender_df = data_df.groupby("Gender")

Gender_count=grouped_Binned_Gender_df[["Price"]].count()
Avg_Price_Gender=grouped_Binned_Gender_df[["Price"]].mean()
Total_P_Value=grouped_Binned_Gender_df[["Price"]].sum()
Normalized_Totals= Total_P_Value["Price"]/Gendercal
Gender_count_df=pd.DataFrame(Gender_count)
Gender_count_df
pd.options.display.float_format = '{:,.2f}'.format
Purchasing_Analysis_Gender_df=pd.DataFrame({'Purchase Count':Gender_count["Price"],'Average Purchase Price':Avg_Price_Gender["Price"],'Total Purchase Price':Total_P_Value["Price"],'Normalized Totals':Normalized_Totals})
Purchasing_Analysis_Gender_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Price
Gender,,,,
Female,2.82,3.83,136,382.91
Male,2.95,4.02,633,"1,867.68"
Other / Non-Disclosed,3.25,4.47,11,35.74

In [9]:
#Age Demographics

bins=[0,10,14,19,24,29,34,39,40]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40']
age_demo=pd.cut(data_df['Age'], bins, labels=group_names)
data_df['Binned_Age']=pd.cut(data_df['Age'], bins, labels=group_names)
total_count= data_df['Binned_Age'].value_counts()
binAgepercent1=(total_count*100)/data_df['Age'].count()
binAgepercent1_df=pd.DataFrame({'Percent Of Players':binAgepercent1,'Total Count':total_count,})
binAgepercent1_df

       Percent Of Players  Total Count
20-24               43.08          336
15-19               17.05          133
25-29               16.03          125
30-34                8.21           64
35-39                5.38           42
<10                  4.10           32
10-14                3.97           31
40                   1.79           14

In [10]:
#Purchasing Analysis (Age)

grouped_Binned_Age_df = data_df.groupby("Binned_Age")

P_count=grouped_Binned_Age_df[["Price"]].count()
Avg_Price=grouped_Binned_Age_df[["Price"]].mean()
Total_P_Value=grouped_Binned_Age_df[["Price"]].sum()
        
        #Purchasing_Analysis_df
Normalized_Totals= Total_P_Value/P_count
P_count_df=pd.DataFrame(P_count)
P_count_df
Purchasing_Analysis_df=pd.DataFrame({'Purchase Count':P_count["Price"],'Average Purchase Price':Avg_Price["Price"],'Total Purchase Price':Total_P_Value["Price"],'Normalized Totals':Normalized_Totals["Price"],})
Purchasing_Analysis_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Price
Binned_Age,,,,
<10,3.02,3.02,32,96.62
10-14,2.70,2.70,31,83.79
15-19,2.91,2.91,133,386.42
20-24,2.91,2.91,336,978.77
25-29,2.96,2.96,125,370.33
30-34,3.08,3.08,64,197.25
35-39,2.84,2.84,42,119.40
40,3.22,3.22,14,45.11

In [11]:
#Top Spenders

grouped_Binned_Spender_df = data_df.groupby("SN")

Spender_count=grouped_Binned_Spender_df[["Price"]].count()
Avg_Price_Spender=grouped_Binned_Spender_df[["Price"]].mean()
Total_P_Value=grouped_Binned_Spender_df[["Price"]].sum()
Spender_count_df=pd.DataFrame(Spender_count)
Spender_count_df

SP_count_df=pd.DataFrame(Spender_count)
SP_count_df
Spender_Analysis_df=pd.DataFrame({'Purchase Count':Spender_count["Price"],'Average Purchase Price':Avg_Price_Spender["Price"],'Total Purchase Price':Total_P_Value["Price"],})
Spender_Analysis_df

Top_Spenders_df=Spender_Analysis_df.sort_values("Total Purchase Price", ascending=False)
Top_Spenders_df.head()

             Average Purchase Price  Purchase Count  Total Purchase Price
SN
Undirrala66                    3.41               5                 17.06
Saedue76                       3.39               4                 13.56
Mindimnya67                    3.18               4                 12.74
Haellysu29                     4.24               3                 12.73
Eoda93                         3.86               3                 11.58

In [19]:
#Most Popular Items
grouped_Binned_Item_df = data_df.groupby(["Item ID","Item Name"])

Item_count=grouped_Binned_Item_df[["Price"]].count()
Price_Item=grouped_Binned_Item_df[["Price"]].mean()
Total_P_Value=grouped_Binned_Item_df[["Price"]].sum()
Item_count_df=pd.DataFrame(Item_count)
Item_count_df

PopulatItem_count_df=pd.DataFrame(Item_count)
PopulatItem_count_df
PopularItem_Analysis_df=pd.DataFrame({'Purchase Count':Item_count["Price"],'Item Price':Price_Item["Price"],'Total Purchase Price':Total_P_Value["Price"],})
PopularItem_Analysis_df

Most_PopularItem_df=PopularItem_Analysis_df.sort_values(("Purchase Count"), ascending=False)
Most_PopularItem_df.head()

,,Item Price,Purchase Count,Total Purchase Price
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

In [16]:
#Most Profitable Items

Most_ProfitableItem_df=Most_PopularItem_df["Item Price"]*PopularItem_Analysis_df["Purchase Count"]
Most_ProfitableItem_df.sort_values(ascending=False)

ProfitableItem_Analysis_df=pd.DataFrame({'Purchase Count':Item_count["Price"],'Item Price':Price_Item["Price"],'Total Purchase Price':Total_P_Value["Price"],'Profit Per Unit':Most_ProfitableItem_df})
ProfitableItem_Analysis_df=ProfitableItem_Analysis_df.sort_values('Total Purchase Price', ascending=False)
ProfitableItem_Analysis_df[[ 'Item Price', 'Purchase Count', 'Total Purchase Price']].head()

,,Item Price,Purchase Count,Total Purchase Price
Item ID,Item Name,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88