In [1]:
import pandas as pd
import os

In [2]:
csv_path1=os.path.join("Resources","hawaii_measurements.csv")
csv_path2=os.path.join("Resources","hawaii_stations.csv")

In [3]:
hi_measure_pd=pd.read_csv(csv_path1, dtype=object)
hi_station_pd=pd.read_csv(csv_path2, dtype=object)
hi_measure_pd.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [4]:
if 'prcp' in hi_measure_pd.columns:
    hi_measure_pd["prcp"]=pd.to_numeric(hi_measure_pd["prcp"])
    
hi_measure_pd.fillna(hi_measure_pd.mean(), inplace=True)
hi_measure_pd.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [5]:
new_measure_pd=hi_measure_pd.dropna()
hi_station_pd
new_measure_pd.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [6]:
new_measure_pd.to_csv("clean_hawaii_measurements.csv",index=False)